* {
  margin : 0;
  box-sizing : border-box;
  padding : 0;
}
body {
background-color : #ffffff;
font-family : sans-serif;
}
a, a:hover {
text-decoration : none;
color : #fff;
}

nav {
background-color : #333333;
width : 75%;
margin-left : auto;
margin-right : auto;
display : flex;
}
nav a{
font-size : 15px;
}
nav ul {
display : flex;
flex-flow : row wrap;
align-items:flex-end;
width : 80%;
padding : 1%;
margin-left : 15%;
vertical-align:bottom;
}
nav ul li {
list-style-type : none;
margin-right : 25px;
}
nav ul li:nth-last-child(1) {
align-self:flex-end;
font-size:12px;
margin-left:auto;
}

nav ul li .marge{
padding-top:20px;
}

header {
background-color : #1e93cc;
width : 75%;
margin : auto;
display : flex;
padding : 10px;
}
header section {
display : flex;
flex-flow : row wrap;
align-items : center;
justify-content : center;
}

header .imgimg {
content : '';
background-image : url("https://zupimages.net/up/20/24/cv6k.png");
background-repeat : no-repeat;
width : 308px;
height : 89px;
background-size : cover;
margin-left:10%;
}

header h1 {
color : #fff;
margin-left : 15%;
margin-top : 20px;
letter-spacing : -1px;
font-size : 30px;
font-weight : 400;
position : relative;
width : 100%;
}

header .buton {
background-color : rgb(235, 149, 16);
border-radius : 5px;
border : #fff solid 1px;
width : 50%;
text-align : center;
padding : 15px;
color : #fff;
margin-left : 15%;
margin-top : 15px;
font-size : 20px;
}
main {
width : 75%;
margin : auto;
}

main section{
margin-bottom:0;
}
main section h2 {
text-align : center;
background-color : rgb(255, 255, 255);
text-align : center;
font-weight : 400;
letter-spacing : -1px;
padding : 15px;
}
main article h3 {
font-weight : 300;
margin-bottom : 5px;
}
main section .boite1 {
background-color : #1e93cc;
display : flex;
flex-wrap: row wrap;
color : #fff;
padding-left : 10%;
padding-right : 10%;
padding-top : 5%;
padding-bottom : 15%;
}
main section article .col {
margin-left : 3%;
}
main section article .col p {
text-align : justify;
font-size : 12px;
line-height : 14px;
margin-bottom : 5px;
}

main .content3{
background-color:#eeeeee;
}
main .content3 h2 {
text-align : center;
font-weight : 400;
letter-spacing : -1px;
color : rgb(139, 139, 136);
margin-top:-10%;
}

main .content3 article{
background-color:#eeeeee;

}
main .content3  ul{
display : flex;
flex-flow : row wrap;
align-items:flex-end;
justify-content: center;
width:85%;
margin-left:auto;margin-right:auto;
flex-wrap:wrap;
margin-left:auto;margin-right:auto;
margin-top:3%;
margin-bottom:3%;
}

main .content3 li{
list-style-type: none;
margin-left:2%;
}

main .content3 li:nth-last-child(1){
margin-top:3%;
margin-bottom:5%;
}
main .content4 {
margin-left:auto;margin-right:auto;

display : flex;
align-items : center;
justify-content : center;
flex-wrap : wrap;
padding-top:5%;
padding-bottom:7%;

}
main .content4 button {
width : 25%;
padding : 10px;
background :#165882;
border-radius : 5px;
margin-right : 5%;
color:#fff;
font-size:20px;
border:none;
padding:2%;
}

main .content4 button:nth-last-child(1){
background-color:#e99002;
}
footer {
background-color : #222222;
width : 75%;
margin-left : auto;
margin-right : auto;
margin-bottom : 0;
display : flex;
color : #fff;
padding-bottom:15px;
}
footer a {
font-size : 12px;
}
footer ul {
color : #fff;
display : flex;
text-align : center;
width : 100%;
}
footer ul li {
list-style-type : none;
margin : 0;
border-right : 1px dotted #fff;
text-align : center;
padding-left : 5px;
padding-right : 5px;

}
footer ul li:nth-last-child(2) {   
border : 0;
}

footer ul li:nth-last-child(1){
align-self:flex-end;
border:0;
font-size:12px;
margin-left:auto;
}